@import '../base/variables';

.home section {
  border: 0; 
}

nav.plakat {
  margin-bottom: 0;
  background-color: #73859E;
  height: auto;
  color: white;  
}

nav.filter {
  background-color: #F0F0F0;
  height: auto; 
  padding-top: 1em; 

  .container {
    align-items: flex-start;
    flex-wrap: wrap;

    .break{
      width: 0px; 
    
      @media (max-width: $sm) {
        width: 100%; 
      }
    }
  }
}

section.searchResults {
  display: flex; 
  justify-content: flex-start; 
  flex-direction: row;
  border-top: 0px !important; 
  flex-wrap: wrap;
}

.search-list,
.search-map {
  width: 50%; 
}

.search-list {
  padding-right: 15px;
}

.search-map {
  padding: 0 15px;
}

@media (max-width: $sm) {
  .search-list,
  .search-map {
    width: 100%; 
    padding: 0 15px;
  }
  
  .search-map {
    margin-top: 1em; 
  }
  
}

.gm-style-iw {
  > div {
    width: 100%; 
    max-width: 100% !important; 
  }
}

#map-popup {
  font-weight: normal; 

  &.suche {
    .imageCropper {
      background-color: $suche; 
    }
  }

  &.biete {
    .imageCropper {
      background-color: $biete; 
    }
  }

  .imageCropper {
    width: 75px; 
    height: 75px;
    overflow: hidden; 
    border-radius: 50%; 
    margin: 0 auto; 
    background-color: grey;

    img {
      width: 100%; 
      height: 100%;
      object-fit: cover; 

      &[src=''] {
        display:none;
      }
    }
  }

  h2 {
    text-align: center; 
    margin: 0.4em ; 
  }

  p {
    text-align: center; 
  }

  p > a {
    &:after {
      content: "";
      width: 0.7em;
      height: 0.7em;
      display: inline-block;
      position: relative;
      top: 0px;
      margin-left: 3px;
      background: url('../../images/back.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}