Footer {
  display: block;
  background-color: black; 
  height: 110px; 
  width: 100%;
  position: absolute;

  .container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden; 
    flex: 1 1 auto; 
    height: 100%; 

    img {
      width: 50px; 
      margin-bottom: 0.2em;
    }

    p {
      color: white; 
      margin: 0; 
    }
  }
}