@import '../base/variables';

.messenger {

  .messages {
    margin: 0 auto; 
    padding: 0 10%; 
    max-height: 500px; 
    overflow-y: scroll; 
  }

  .input {
    max-width: 350px; 
    margin: 0 auto; 

    input,
    button {
      position: relative;
      margin-left: auto; 
    }
  }

  p.title {
    text-align: center; 
    margin-bottom: 2em; 
    margin-top: 1em; 
  }

  .message span {
    border-radius: 10px;
    padding: 0.2em 0.5em; 
    max-width: 250px; 
    display: inline-block;
    word-wrap:break-word;
  }

  .message.biete span {
    background-color: $biete-light;
    border: 1px solid $biete; 
  }

  .message.suche span {
    background-color: $suche-light;
    border: 1px solid $suche; 
  }

  .message.left {
    text-align: left;
  }
  
  .message.right {
    text-align: right;
  }
}

