@import '../base/variables';

.publish-selector {
  margin: 0 1em; 

  p.label {
    position: relative;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.8em;
    top: -2px;
  }

  input[type=radio] {
    display:none;
  }

  input[type=radio]:first-child + label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
  }

  input[type=radio]#publish2 + label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  input[type=radio] + label {
    font-size: 1em;
    margin-top: 1.7em;
    display: inline-block;
    width: 100px; 
    height: 55px; 
    cursor: pointer;
    text-align: center;
    margin: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: rgb(252, 252, 252);

    p {
      position: relative;
      margin: 0; 
      font-size: 1em;
      transform: translate(0, 100%);
    }
  }

  input[type=radio]:checked + label.suche {
    background-color: $suche;
  }

  input[type=radio]:checked + label.biete {
    background-color: $biete;
  }

  @media (max-width: $xs) {
    width: 100%; 

    input[type=radio] + label {
      width: 50%; 
    }
  }
}